body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000;
}

.uii {font-family: "돋움", Arial, Dotum,Helvetica,AppleGothic,sans-serif;}
.uik {margin: 30px 15px;}
.fsizz {font-size: 25px;}
.uiired {color:red}
#ki {color:blue;font-size: 20px;}